{% extends "base.html" %}
{% block contenido %}
    <h2>{{musica.nombre}}</h2>
    <ul>
    {% for resenia in resenias %}
        <li>
            <strong>{{resenia.title}}: </strong>
            <p>{{resenia.contenido}}</p>
            <p>
                Likes totales: {{resenia.likes_count}} 
                {% if user.is_authenticated %}
                | <a href="{% url 'liked_resenia' resenia.id %}">{% if user in resenia.likes.all %}Unlike{% else %}Like{% endif %}</a>
                {% endif %}
            </p>
        </li>
    {% empty %}
        <li>Que no hay resenias, necio!!</li>
    {% endfor %}
    </ul>
    {% if user.is_authenticated %}
        {% if not musica.has_review %}<a href="{% url 'add_resenia' musica.slug %}">Añadir resenia</a>
        {% else %}
        <a href="#">Editar resenia</a> |
        <a href="{% url 'delete_resenia' musica.slug %}">Eliminar resenia</a>
        {% endif %}
    {% endif %}
{% endblock contenido %}