{% extends "base.html" %}
{% block contenido %}
    <h2>{{album.nombre}} | Detalle</h2>
    
    <p>Artista: {{album.artista.nombre}}</p>
    <p>Canciones ({{album.songs}}):</p>
    <ul>
        {% for cancion in canciones %}
            <li>{{cancion.nombre}}</li>
        {% empty %}
            <li>No se han registrado canciones en este album</li>
        {% endfor %}
        {% if perms.musica.add_cancion %}
            <li><a href="{% url 'add_cancion' album.slug %}">Añadir Cancion</a></li>
        {% endif %}
    </ul>
    {% if perms.musica.change_album %}<a href="{% url 'update_album' album.slug %}">Actulizar</a>{% endif %}
    |
    {% if perms.musica.delete_album %}<a href="{% url 'delete_album' album.slug %}">Eliminar</a>{% endif %}

{% endblock contenido %}