{% extends "base.html" %}
{% block contenido %}
    <table>
        <tr>
            <th>Artista</th>
            <th>Calificacion</th>
            <th>Albumes</th>
        </tr>
        {% for artist in artistas %}
        <tr>
            <td>
                <p>{{artist.nombre}}</p>
                
                {% if user.is_authenticated %}

                {% if perms.musica.change_artista %}<a href="{% url 'update_artista' artist.slug %}">(Update)</a> | {% endif %}
                {% if perms.musica.delete_artista %}<a href="{% url 'delete_artista' artist.slug %}">(Delete)</a>{% endif %}

                {% endif %}
            </td>
            <td>{{artist.avg_rating}}</td>
            <td>
                <ul>
                {% for album in artist.albumes_list %}
                    <li><a href="{% url 'detail_album' album.slug %}" style="text-decoration: none;">{{album.nombre}}</a></li>
                {% empty %}
                    <li>There's no albums</li>
                {% endfor %}
                
                {% if user.is_authenticated and perms.musica.add_album %}
                    <li><a href="{% url 'add_album' artist.slug %}">(Agregar Nuevo Albúm)</a></li>
                {% endif %}
                </ul>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td>No hay artistas que mostrar</td>
            <td>No hay calificacion que mostrar</td>
            <td>No hay albumes que mostrar</td>
        </tr>
        {% endfor %}
        {% if user.is_authenticated and perms.musica.add_artista %}
        <tr>
            <td><a href="{% url 'add_artista' %}">Add new 'Artista'</a></td>
        </tr>
        {% endif %}
    </table>
{% endblock contenido %}